body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 600px;
    background: #111d4a;
    color: #fff;
    display: grid;
    grid-template-columns: 1em 200px auto auto 100px 1em ;
    grid-template-rows: 200px auto auto 100px;
    grid-template-areas: 
        "card-img card-img card-img card-img card-img card-img"
        ". card-title card-title card-title card-title ."
        ". card-body card-body card-body card-body ."
        ". card-read-time . . card-btn ."  ;
}

.card-img {
    height: 100%;
    width: 100%;
    grid-area: card-img;
}

.card-title {
    height: 100px;
    border: 1px white solid;
    grid-area: card-title;
}

.card-body {
    height: 100px;
    border: 1px gray solid;
    grid-area: card-body;
    justify-self: start;
}

.card-read-time {
    border: 1px gold solid;
    grid-area: card-read-time;
    align-self: end;
}

.card-btn {
    border: 1px red solid;
    grid-area: card-btn;
    align-self: center;
    background-color: lightblue;
}

@media (min-width: 600px) {
    .card {
        grid-template-columns: 1em 200px 1em auto auto 100px 1em;
        grid-template-rows: 200px auto 100px;
        grid-template-areas:
            "card-img card-img . card-title card-title card-title ."
            "card-img card-img . card-body card-body card-body ."
            "card-img card-img . card-read-time . card-btn .";
    }
}